---
layout: default
title: Home
---

This personal webpage is a hub for research highlights, teaching material, my CV and other useful tidbits. For more information about me please refer to my <a href="{{ site.github.url }}/about"}}>About</a> page.

<h4>Twitter feed:</h4>

<!-- <a class="twitter-timeline" data-partner="tweetdeck" href="https://twitter.com/ivankiskin1">New Collection</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->

<a class="twitter-timeline" data-height="400" href="https://twitter.com/ivankiskin1">Tweets by Ivan Kiskin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<h4>Recent posts:</h4>


{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
